<div class="container">
  <app-cockpit (serverCreated)="onServerAdded($event)"
                (blueprintCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
    <button class="btn btn-primary" (click)="onChangeFirst()">Change First Element</button>
    <app-server-element 
    *ngFor="let serverEelement of serverElements"
    [srvElement]="serverEelement"
    [name]="serverEelement.name"
    ></app-server-element>
    </div>
  </div>
</div>
